<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Block1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Block2.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Block3.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Block4.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>Block5.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>blockanimation.pvr</string>
		<key>size</key>
		<string>{332,68}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b13f41f31f7aa81452876c1d5410783f:3de0d928a6ea1ce0f6dbf9f1c94c4bb3:d1e182f1140d4b89aaab8c494d6d5eea$</string>
		<key>textureFileName</key>
		<string>blockanimation.pvr</string>
	</dict>
</dict>
</plist>
